# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp

# Environment files
.env
.env.*  # For .env.development, .env.production etc.

# Node modules (if using Node.js)
node_modules/

# IDE and editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS trash / temp
.trash/
*.bak

# Flutter build files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
